fastapi
uvicorn
pydantic
psycopg2-binary
sqlmodel
python-dotenv
pydantic-settings
passlib

# Auth
python-jose[cryptography]
bcrypt==4.3.0

# File handling
python-multipart

# Email
fastapi-mail
pydantic[email]

# Websockets
websockets

# === AI Integration ===

# NLP and Summarization
cohere

# Text-to-Speech
pyttsx3

# Speech-to-Text
openai-whisper
pydub 